$primary-color: #b12727;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  background-color: $primary-color;
}
#root {
  height: 100vh;
  width: 100%;
  // background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  #drum-machine {
    height: 50%;
    width: 60%;
  }
}
